.table {
    padding: 8px;
    line-height: 2.2;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table td{
    font-size: 18px;
    transition: all 0.2s;
}

.table tr:nth-child(odd) {
    background-color: #e5e5ea;
}

.table tr:hover{
    background-color: black;
    color: white;
}


.carregar-mais {
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    background: #e8e8e8;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
    clear: both;
}