{% load i18n static %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LISTA DE APPHOOKS</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Classe</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
{% for apphook_info in object_list %}
    <tr>
      <td><a href="{{ apphook_info.url }}" target="_blank">{{ apphook_info.name }}</a></td>
      <td>{{ apphook_info.class }}</td>
      <td>{{ apphook_info.amount }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</body>
</html>