<!DOCTYPE html>
{% load i18n static %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>

    <h3><b>Nome: </b>{{ name }}</h3>
    <h3><b>Tipo (Classe): </b>{{ type }}</h3>
    <h3><b>Quantidade: </b>{{ amount }}</h3>

</head>
<body>

<table class="table">
  <thead>
    <tr>
      <th>Título da Página</th>
      <th>URL da Página</th>
      <th>Nome do Placeholder</th>
      <th>Placeholder Estático</th>
      <th>Publicado</th>
      <th colspan="3" align="center">Ações</th>
    </tr>
  </thead>
  <tbody>
{% for instance in instances %}
    <tr>
      <td>{{ instance.title }}</td>
      <td>{{ instance.url }}</td>
      <td align="center">{{ instance.placeholder_label }}</td>
      <td align="center">{% if instance.placeholder_static %} x {% endif %}</td>
      <td align="center">{% if not instance.not_published %} x {% endif %}</td>

      <td align="center">
        <a href="{{ instance.url }}"><span class="js-cms-pagetree-page-view" >Ir</span></a>
        <a class="cms-btn cms-btn-default" href="{{ instance.edit_url }}" target="_blank"><span class="cms-icon cms-icon-pencil">Editar</span></a>
        <a  href="{{ instance.delete_url }}" target="_blank"><span class="cms-icon cms-icon-bin"></span>X</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

