{% load i18n static %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Plugins</title>
</head>
<body>
<form >{% csrf_token %}
    <table class="table-search">
        <tr>
            <td>{{ forms.keyword }}
            </td>
            <td>
                <button type="submit">Buscar</button>
            </td>
        </tr>
<tr></tr>
        <tr>
            <td>
                {{ forms.fields_search }}
                {{forms.comparation}}
            </td>
            <td>
                <input type="number" value="{{forms.range}}" name="range">
            </td>
        </tr>
    </table>
</form>
<table class="table">

  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo (Classe)</th>
      <th>Quantidade Publicada</th>
      <th>Quantidade Rascunho</th>
    </tr>
  </thead>
  <tbody>
{% for object in object_list %}
    <tr>
      <td><a href="{{ object.url }}" target="_blank">{{ object.name }}</a></td>
      <td>{{ object.type }}</td>
      <td align="center">{{ object.amount_published }}</td>
      <td align="center">{{ object.amount_draft }}</td>
    </tr>
{% endfor %}
  {% if not object_list %}
    <tr><td colspan="4">* NENHUM PLUGIN ENCONTRADO</td></tr>
{% endif %}

  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

       <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

       {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>