{% load i18n static %}
<link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Plugins</title>
</head>
<body>
<form >{% csrf_token %}
    <table class="table-search">
        <div class="form-inline " style="padding-right: 10px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;background-color: #bdddf7;">
            <img src="{% static 'busca.png' %}"style="margin-right: 5px; width: 20px; height: 20px;">
            {{forms.keyword}}


            <img src="{% static 'filtro.png' %}"style="margin-right: 5px; width: 20px; height: 20px;">
            {{ forms.fields_search }}
                {{forms.comparation}}
            <input type="number" value="{{forms.range}}" name="range" >


            <button type="submit">Buscar</button>

            <a href="{% url 'export_csv' %}">Exportar Lista de Plugins </a>

            </div>
    </table>
</form>
<form>



<table class="table">

  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo (Classe)</th>
      <th>Quantidade Publicada</th>
      <th>Quantidade Rascunho</th>
    </tr>
  </thead>
  <tbody>
{% for object in object_list %}
    <tr>
      <td><a href="{{ object.url }}" target="_blank">{{ object.name }}</a></td>
      <td>{{ object.type }}</td>
      <td align="center">{{ object.amount_published }}</td>
      <td align="center">{{ object.amount_draft }}</td>
    </tr>
{% endfor %}
  {% if not object_list %}
    <tr><td colspan="4">* NENHUM PLUGIN ENCONTRADO</td></tr>
{% endif %}

  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1{{parametros}}">&laquo; </a>
            <a href="?page={{ object_list.previous_page_number }}{{parametros}}">Anterior</a>
        {% endif %}

       <span class="current">
            Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

       {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{{parametros}}">Próxima</a>
            <a href="?page={{ object_list.paginator.num_pages }}{{parametros}}"> &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>