<p>Nome: {{ name }}</p>
<p>Tipo (Classe): {{ type }}</p>
<p>Quantidade: {{ amount }}</p>

<table width="85%">
  <thead>
    <tr>
      <th>Título da Página</th>
      <th>URL da Página</th>
      <th>Placeholder Label</th>
      <th>Placeholder Static</th>
      <th>Published</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
{% for instance in instances %}
    <tr>
      <td>{{ instance.title }}</td>
      <td><a href="{{ instance.url}}" target="_blank">{{ instance.url }}</a></td>
      <td align="center">{{ instance.placeholder_label }}</td>
      <td align="center">{% if instance.placeholder_static %} True {% else %} False {% endif %}</td>
      <td align="center">{% if instance.not_published %} False {% else %} True {% endif %}</td>

      <td align="center">
        <a class="js-cms-pagetree-page-view" href="{{ instance.url }}"><span>Ir</span></a>
        <a class="cms-btn cms-btn-default js-cms-tree-advanced-settings cms-icon cms-icon-pencil" href="#"><span>Editar</span></a>
        <a class="cms-icon cms-icon-bin" href="#">X</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

